<div class="oseslotinventory-form">
  <div class="flexcol">
    <div id="oseslotinventory-form" style="margin-bottom: 10px;">
      <div class="flexrow" style="margin-bottom: 3px;">
        <div class="oseslotinventory-init-text">Occupied: {{ slotsOccupied }}</div>
      </div>
      <div class="flexrow">
        <div class="oseslotinventory-init-text">Remaining: {{ slotsRemaining }}</div>
      </div>
    </div>
    <div class="oseslotinventory-box flexrow">
      <button class="oseslotinventory-button" data-action="details">Details</button>
    </div>
  </div>
</div>